/* shared styles */
body{
    font-family: 'Lato', sans-serif;
}
.btn-primary{
    border-radius: 8px;
    background: #E55473;color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 14px 43px;
    margin-top:32px ;
    margin-bottom:150px ;
    border: 0;
    
}
span{
    color: #E55473;
}
/* header related styles */

    
    
.banner{
    background-color: rgba(229, 84, 115, 0.10);
    padding:50px 240px 0 240px ;
    display: flex;
    

}
.banner-title{
    color: #272727;    
    font-size: 80px;   
    font-weight: 800;
    margin-top:197px ;    
}
.banner-description{
    color:#272727;
    font-size: 18px;
    font-weight: 400;
    margin-top: 32px;

}
.header-image{
    display: flex;
    align-items: end;
    margin-right: ;
    padding-right: 0;
}
.image{
    width: 635px;
    height: 800px;
    flex-shrink: 0;
    margin-bottom: 0;
    

}
/* featured flowers styles */
.featured-flowers{
    margin-left: 240px;
    margin-right: 240px;
    
}
.section-title{ 
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 180px;
    }
.section-description{
    color: #272727;
    text-align: center;
    font-size: 18px;
    font-weight: 400;

}  
.flowers{
    display: flex;    
    align-items: end;
    gap: 24px;
    
}  
.first-flower{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
    flex-shrink: 0;
}
.first-flower-image{
    padding: 110px 78px 0 76px ;
}
.second-flower{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;
    flex-shrink: 0;

}
.second-flower-image{
    padding: 117px 50px 50px 50px;

}
.third-flower{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px;
    flex-shrink: 0;
}
.third-flower-image{
    padding: 70px 75px 0 75px;
}
.flower-name{
    text-align: center;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
    margin-top: 30px;
}
/* shop description related styles */
.shop-description{
    display: flex;
    margin-top: 128px;
    align-items: center;
    margin-left: 240px;
    margin-right: 240px;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 1440px;
    height: 320px;
    flex-shrink: 0;
    margin-bottom: 128px;
}
.first-icon-image{
    padding-left: 270px;
    padding-top: 86px;
}
.second-icon-image{
    padding-left: 300px;
    padding-right: 271px;
    padding-top: 86px;
}
.third-icon-image{
    padding-top: 86px;
}
.icon-description{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 87px;
    
}
#first-icon-description{
    padding-left: 175px;
}
#third-icon-description{
    padding-right: 230px;
}
/* discount section related styles */
.discount{
    display: flex; 
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding-left: 395px;
    padding-right: 430px;
    gap: 100px;
    margin-bottom: 128px;
}
#button{
    margin-left: 220px;
}
.discount-section-image{
    margin-top:100px ;
}
/* instagram section related styles */
.instagram-pictures{
    display: flex;
    margin-left: 240px;
    margin-right: 240px;    
    gap: 24px;
    margin-bottom: 128px;
}
/* last section related styles */
.l-section{
    margin-left: 240px;
    margin-right: 240px;
    background-image: url('../Flower Asset/Rectangle\ 9.png') ;
    background-repeat: no-repeat;
    margin-bottom: 128px;
}
.info{
    display: flex;
    align-items: center;
    gap:10px;

}
.email{
    width: 700px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    margin-bottom: 110px;
    margin-left: auto;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    text-border: none;

  

}
#s-button{
    
    margin-right:250px ;
}
#s-title{
    padding-top: 122px;
}
.email input {
    display: block;
    padding: 22px  ;

    border: none;
}
/* footer related styles */
.footer{
    width: 1922px;
    height: 449px;
    flex-shrink: 0;
    background-color:#111010 ;
}
.footer-title{
    color: #FFF;    
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    padding-top: 128px;
    padding-bottom: 24px;
    
}
.footer-description{
    color: #FFFFFF;
    text-align: center;    
    font-size: 18px;   
    font-weight: 400;
   
}
.copyright{color: rgba(255, 255, 255, 0.40);
    text-align: center;    
    font-size: 16px;   
    font-weight: 400;
    

}